div{
    display: flex;
    background-color: aqua;
    max-width: 1000px;
    padding: 20px;
    margin: 10px;
    border-radius: 7px;
    flex-wrap: wrap;
}

button,#category{
    display: block;
    min-width: 300px;
    min-height: 260px;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;       
}

#category{ 
    display: flex;
    flex-direction: column;
    background-color: white;
}

#category-footer{
    margin-top: auto;   
    text-align: end;

}

#category-header{
    font-size: 20px;
    display: flex;
    background-color: lightgray;
    border-radius: 7px 7px 0 0;
    padding-left: 5px;
    justify-content: space-between;
}

#taskbutton{
    padding: 0px 5px;
    margin: 5px;
    background-color: brown;
    border-radius: 4px;
}



